@let _loading = loading();
@let _state = state();

<main>
  <div class="page-header">
    <h1 class="page-header-title">
      <span class="mat-icon mat-icon-3xl text-my-primary-default select-none">home</span>
      {{ 'home.title' | translate }}
    </h1>
  </div>

  <div class="page-content">
    <div class="flex flex-col gap-3">
      <h2 class="font-subtitle-lg ml-6 flex items-center gap-1 select-text">
        {{ 'home.todaySummary' | translate }}
      </h2>
      <div class="page-content-box">
        <div class="flex gap-3">
          <div
            class="bg-my-secondary-50 flex min-h-40.5 flex-1 flex-col items-center justify-center gap-2 rounded-3xl p-5 shadow-sm"
          >
            @if (_loading) {
              <span class="mat-icon mat-icon-3xl animate-spin">progress_activity</span>
            } @else {
              <span class="mat-icon mat-icon-5xl">sick</span>
              <span class="font-subtitle-3xl select-text">{{ _state.today.pain }}</span>
              <span class="font-body-md min-h-11 text-center select-text">
                @if (_state.today.pain === 1) {
                  {{ 'home.registeredHealthEvent' | translate }}
                } @else {
                  {{ 'home.registeredHealthEvents' | translate }}
                }
              </span>
            }
          </div>
          <div
            class="bg-my-secondary-50 flex min-h-40.5 flex-1 flex-col items-center justify-center gap-2 rounded-3xl p-5 shadow-sm"
          >
            @if (_loading) {
              <span class="mat-icon mat-icon-3xl animate-spin">progress_activity</span>
            } @else {
              <span class="mat-icon mat-icon-5xl">pill</span>
              <span class="font-subtitle-3xl">{{ _state.today.drug }}</span>
              <span class="font-body-md min-h-11 text-center select-text">
                @if (_state.today.drug === 1) {
                  {{ 'home.drugTaken' | translate }}
                } @else {
                  {{ 'home.drugsTaken' | translate }}
                }
              </span>
            }
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-3">
      <h2 class="font-subtitle-lg ml-6 flex items-center gap-1 select-text">
        {{ 'home.quickStats' | translate }}
      </h2>
      <div class="page-content-box">
        <h3 class="font-subtitle-md ml-3 select-text">
          {{ 'home.thisMonth' | translate }}
        </h3>
        <div class="flex gap-3">
          <div
            class="bg-my-secondary-50 flex min-h-32 flex-1 flex-col items-center justify-center gap-1 rounded-3xl p-3 shadow-sm"
          >
            @if (_loading) {
              <span class="mat-icon mat-icon-2xl animate-spin">progress_activity</span>
            } @else {
              <span class="mat-icon mat-icon-4xl">sick</span>
              <span class="font-subtitle-2xl select-text">{{ _state.thisMonth.pain }}</span>
              <span class="font-body-xs min-h-9 text-center select-text">
                @if (_state.thisMonth.pain === 1) {
                  {{ 'home.registeredHealthEvent' | translate }}
                } @else {
                  {{ 'home.registeredHealthEvents' | translate }}
                }
              </span>
            }
          </div>
          <div
            class="bg-my-secondary-50 flex min-h-32 flex-1 flex-col items-center justify-center gap-1 rounded-3xl p-3 shadow-sm"
          >
            @if (_loading) {
              <span class="mat-icon mat-icon-2xl animate-spin">progress_activity</span>
            } @else {
              <span class="mat-icon mat-icon-4xl">pill</span>
              <span class="font-subtitle-2xl">{{ _state.thisMonth.drug }}</span>
              <span class="font-body-xs min-h-9 text-center select-text">
                @if (_state.thisMonth.drug === 1) {
                  {{ 'home.drugTaken' | translate }}
                } @else {
                  {{ 'home.drugsTaken' | translate }}
                }
              </span>
            }
          </div>
          <div
            class="bg-my-secondary-50 flex min-h-32 flex-1 flex-col items-center justify-center gap-1 rounded-3xl p-3 shadow-sm"
          >
            @if (_loading) {
              <span class="mat-icon mat-icon-2xl animate-spin">progress_activity</span>
            } @else {
              <span class="mat-icon mat-icon-4xl">trending_up</span>
              <span class="font-subtitle-2xl">{{ _state.thisMonth.painAverage }}/{{ '5' }}</span>
              <span class="font-body-xs min-h-9 text-center select-text">
                {{ 'home.averagePain' | translate }}
              </span>
            }
          </div>
        </div>
        <h3 class="font-subtitle-md ml-3 select-text">
          {{ 'home.thisYear' | translate }}
        </h3>
        <div class="flex gap-3">
          <div
            class="bg-my-secondary-50 flex min-h-32 flex-1 flex-col items-center justify-center gap-1 rounded-3xl p-3 shadow-sm"
          >
            @if (_loading) {
              <span class="mat-icon mat-icon-2xl animate-spin">progress_activity</span>
            } @else {
              <span class="mat-icon mat-icon-4xl">sick</span>
              <span class="font-subtitle-2xl select-text">{{ _state.thisYear.pain }}</span>
              <span class="font-body-xs min-h-9 text-center select-text">
                @if (_state.thisYear.pain === 1) {
                  {{ 'home.registeredHealthEvent' | translate }}
                } @else {
                  {{ 'home.registeredHealthEvents' | translate }}
                }
              </span>
            }
          </div>
          <div
            class="bg-my-secondary-50 flex min-h-32 flex-1 flex-col items-center justify-center gap-1 rounded-3xl p-3 shadow-sm"
          >
            @if (_loading) {
              <span class="mat-icon mat-icon-2xl animate-spin">progress_activity</span>
            } @else {
              <span class="mat-icon mat-icon-4xl">pill</span>
              <span class="font-subtitle-2xl">{{ _state.thisYear.drug }}</span>
              <span class="font-body-xs min-h-9 text-center select-text">
                @if (_state.thisYear.drug === 1) {
                  {{ 'home.drugTaken' | translate }}
                } @else {
                  {{ 'home.drugsTaken' | translate }}
                }
              </span>
            }
          </div>
          <div
            class="bg-my-secondary-50 flex min-h-32 flex-1 flex-col items-center justify-center gap-1 rounded-3xl p-3 shadow-sm"
          >
            @if (_loading) {
              <span class="mat-icon mat-icon-2xl animate-spin">progress_activity</span>
            } @else {
              <span class="mat-icon mat-icon-4xl">trending_up</span>
              <span class="font-subtitle-2xl">{{ _state.thisYear.painAverage }}/{{ '5' }}</span>
              <span class="font-body-xs min-h-9 text-center select-text">
                {{ 'home.averagePain' | translate }}
              </span>
            }
          </div>
        </div>
      </div>
    </div>

    <div
      class="border-my-primary-default flex w-fit items-center justify-center self-center rounded-full border-2 px-2 py-0.5"
    >
      <span class="font-subtitle-xs text-my-primary-default">{{ appVersion }}</span>
    </div>
  </div>
</main>
