@let _loading = loading();
@let _state = state();

<main>
  <div class="page-header">
    <h1 class="page-header-title">
      <span class="mat-icon mat-icon-3xl text-my-primary-default select-none">home</span>
      <span class="truncate">{{ 'home.title' | translate }}</span>
    </h1>
  </div>

  <div class="page-content">
    <div class="flex flex-col gap-3">
      <h2 class="font-subtitle-lg ml-6 flex items-center gap-1 select-text">
        <span class="mat-icon mat-icon-lg">calendar_today</span>
        {{ 'home.today' | translate }}
      </h2>
      <div class="page-content-box">
        <div class="flex gap-3">
          <app-quick-stat-card class="flex-1" [icon]="'sick'" [value]="_state.today.pain">
            @if (_state.today.pain === 1) {
              {{ 'home.registeredHealthEvent' | translate }}
            } @else {
              {{ 'home.registeredHealthEvents' | translate }}
            }
          </app-quick-stat-card>
          <app-quick-stat-card class="flex-1" [icon]="'pill'" [value]="_state.today.drug">
            @if (_state.today.drug === 1) {
              {{ 'home.drugTaken' | translate }}
            } @else {
              {{ 'home.drugsTaken' | translate }}
            }
          </app-quick-stat-card>
          <app-quick-stat-card class="flex-1" [icon]="'trending_up'" [value]="_state.today.painAverage" [outOf]="5">
            {{ 'home.averagePain' | translate }}
          </app-quick-stat-card>
        </div>
      </div>
    </div>

    <div class="mt-3 flex flex-col gap-3">
      <h2 class="font-subtitle-lg ml-6 flex items-center gap-1 select-text">
        <span class="mat-icon mat-icon-lg">date_range</span>
        {{ 'home.thisWeek' | translate }}
      </h2>
      <div class="page-content-box">
        <div class="flex gap-3">
          <app-quick-stat-card class="flex-1" [icon]="'sick'" [value]="_state.thisWeek.pain">
            @if (_state.thisWeek.pain === 1) {
              {{ 'home.registeredHealthEvent' | translate }}
            } @else {
              {{ 'home.registeredHealthEvents' | translate }}
            }
          </app-quick-stat-card>
          <app-quick-stat-card class="flex-1" [icon]="'pill'" [value]="_state.thisWeek.drug">
            @if (_state.thisWeek.drug === 1) {
              {{ 'home.drugTaken' | translate }}
            } @else {
              {{ 'home.drugsTaken' | translate }}
            }
          </app-quick-stat-card>
          <app-quick-stat-card class="flex-1" [icon]="'trending_up'" [value]="_state.thisWeek.painAverage" [outOf]="5">
            {{ 'home.averagePain' | translate }}
          </app-quick-stat-card>
        </div>
      </div>
    </div>

    <div class="mt-3 flex flex-col gap-3">
      <h2 class="font-subtitle-lg ml-6 flex items-center gap-1 select-text">
        <span class="mat-icon mat-icon-lg">calendar_month</span>
        {{ 'home.thisMonth' | translate }}
      </h2>
      <div class="page-content-box">
        <div class="flex gap-3">
          <app-quick-stat-card class="flex-1" [icon]="'sick'" [value]="_state.thisMonth.pain">
            @if (_state.thisMonth.pain === 1) {
              {{ 'home.registeredHealthEvent' | translate }}
            } @else {
              {{ 'home.registeredHealthEvents' | translate }}
            }
          </app-quick-stat-card>
          <app-quick-stat-card class="flex-1" [icon]="'pill'" [value]="_state.thisMonth.drug">
            @if (_state.thisMonth.drug === 1) {
              {{ 'home.drugTaken' | translate }}
            } @else {
              {{ 'home.drugsTaken' | translate }}
            }
          </app-quick-stat-card>
          <app-quick-stat-card class="flex-1" [icon]="'trending_up'" [value]="_state.thisMonth.painAverage" [outOf]="5">
            {{ 'home.averagePain' | translate }}
          </app-quick-stat-card>
        </div>
      </div>
    </div>

    <div class="mt-3 flex flex-col gap-3">
      <h2 class="font-subtitle-lg ml-6 flex items-center gap-1 select-text">
        <span class="mat-icon mat-icon-lg">calendar_view_month</span>
        {{ 'home.thisYear' | translate }}
      </h2>
      <div class="page-content-box">
        <div class="flex gap-3">
          <app-quick-stat-card class="flex-1" [icon]="'sick'" [value]="_state.thisYear.pain">
            @if (_state.thisYear.pain === 1) {
              {{ 'home.registeredHealthEvent' | translate }}
            } @else {
              {{ 'home.registeredHealthEvents' | translate }}
            }
          </app-quick-stat-card>
          <app-quick-stat-card class="flex-1" [icon]="'pill'" [value]="_state.thisYear.drug">
            @if (_state.thisYear.drug === 1) {
              {{ 'home.drugTaken' | translate }}
            } @else {
              {{ 'home.drugsTaken' | translate }}
            }
          </app-quick-stat-card>
          <app-quick-stat-card class="flex-1" [icon]="'trending_up'" [value]="_state.thisYear.painAverage" [outOf]="5">
            {{ 'home.averagePain' | translate }}
          </app-quick-stat-card>
        </div>
      </div>
    </div>

    <div
      class="border-my-primary-default flex w-fit items-center justify-center self-center rounded-full border-2 px-2 py-0.5"
    >
      <span class="font-subtitle-xs text-my-primary-default">{{ appVersion }}</span>
    </div>
  </div>
</main>
