<section>
  @if (loading()) {
    <div class="flex min-h-84 items-center justify-center" role="status">
      <span class="mat-icon mat-icon-5xl text-my-secondary-default animate-spin">progress_activity</span>
    </div>
  } @else {
    <table class="w-full table-fixed border-separate border-spacing-1">
      <thead>
        <tr>
          @for (weekday of weekdays; track weekday) {
            <th class="font-subtitle-xs text-my-secondary-600 h-7 text-center align-middle select-none" scope="col">
              {{ weekday | translate }}
            </th>
          }
        </tr>
      </thead>
      <tbody>
        @for (week of weeks(); track $index) {
          <tr>
            @for (calendarDay of week; track $index) {
              <td class="h-14 max-h-14 min-h-14 p-0">
                @if (calendarDay.day) {
                  <div
                    class="bg-my-secondary-50 relative flex h-10 max-h-10 min-h-10 w-10 max-w-10 min-w-10 flex-col items-center justify-center gap-1 rounded-full p-1 shadow-xs"
                    [class.bg-my-primary-100]="calendarDay.isToday"
                    [class.ring-my-primary-default]="calendarDay.isToday"
                    [class.ring-2]="calendarDay.isToday"
                  >
                    <span
                      class="font-subtitle-sm text-my-secondary-900 select-text"
                      [class.text-my-primary-900]="calendarDay.isToday"
                    >
                      {{ calendarDay.day }}
                    </span>
                    @if (calendarDay.eventCount > 0) {
                      <span
                        class="bg-my-primary-default font-subtitle-xs absolute -top-2 -right-2 flex h-6 w-6 items-center justify-center rounded-full text-white"
                      >
                        <span>{{ calendarDay.eventCount }}</span>
                      </span>
                    }
                  </div>
                } @else {
                  <div class="min-h-14"></div>
                }
              </td>
            }
          </tr>
        }
      </tbody>
    </table>
  }
</section>
