@let _drug = drug();
@let _quantity = quantity();

<div
  class="bg-my-secondary-50 flex flex-col gap-2 rounded-3xl px-5 py-3 shadow-sm"
  [class.bg-my-secondary-100]="!!_quantity"
>
  <div class="flex items-center justify-between gap-3">
    <div class="flex items-center gap-3">
      <span class="font-subtitle-lg select-text">{{ _drug.name }}</span>
      <div class="bg-my-primary-default flex items-center justify-center gap-1 rounded-lg px-1.5 py-0.5">
        <span class="font-body-2xs">{{ _drug.measure }}</span>
        <span class="font-body-2xs">{{ _drug.measureType }}</span>
      </div>
    </div>
    <div class="flex items-center gap-3">
      @if (_quantity) {
        <span class="font-subtitle-md select-none">
          {{ _quantity }}
        </span>
      } @else {
        <button class="my-icon-button danger" (click)="onClickDeleteDrug(_drug)">
          <span class="mat-icon">delete</span>
        </button>
        <button class="my-icon-button primary" (click)="onClickUpdateDrug(_drug)">
          <span class="mat-icon">edit</span>
        </button>
      }
    </div>
  </div>

  @if (_drug.description && !_quantity) {
    <hr class="my-divider" />
    <span class="font-body-md select-text">{{ _drug.description }}</span>
  }
</div>
