<div class="page-layout-content-box">
  <div class="flex min-h-41 flex-col items-center justify-center py-4 transition-all">
    @if (loading()) {
      <span class="mat-icon mat-icon-3xl text-my-secondary-default animate-spin">progress_activity</span>
    } @else {
      <span class="mat-icon mat-icon-5xl text-my-secondary-500 mb-4">{{ emptyIcon() }}</span>
      <p class="font-body-lg text-my-secondary-500 mb-2 max-w-120 text-center">
        {{ emptyTitle() | translate }}
      </p>
      <p class="font-body-lg text-my-secondary-500 max-w-120 text-center">
        {{ emptyDescription() | translate }}
      </p>
    }
  </div>
</div>
