<div
  class="bg-my-secondary-50 flex min-h-32 flex-1 flex-col items-center justify-center gap-1 rounded-3xl p-3 shadow-sm"
>
  @if (loading()) {
    <span class="mat-icon mat-icon-2xl animate-spin">progress_activity</span>
  } @else {
    <span class="mat-icon mat-icon-4xl">{{ icon() }}</span>

    @let _value = value();
    @let _outOf = outOf();
    @let _showColorCodes = _outOf && _value;
    <span
      class="font-subtitle-2xl select-text"
      [class.text-green-600]="_showColorCodes && _value > 0 && _value <= 1"
      [class.text-amber-300]="_showColorCodes && _value > 1 && _value <= 2"
      [class.text-yellow-500]="_showColorCodes && _value > 2 && _value <= 3"
      [class.text-orange-400]="_showColorCodes && _value > 3 && _value <= 4"
      [class.text-red-700]="_showColorCodes && _value > 4 && _value <= 5"
    >
      @if (_outOf) {
        {{ _value }}/{{ _outOf }}
      } @else {
        {{ _value }}
      }
    </span>

    <span class="font-body-xs min-h-9 text-center select-text">
      <ng-content />
    </span>
  }
</div>
