@let _healthEvent = healthEvent();
<div class="bg-my-secondary-50 flex flex-col gap-2 rounded-xl p-3 shadow-sm">
  <div class="flex items-center justify-between gap-3">
    <div class="flex items-center gap-3">
      <span class="font-subtitle-lg select-text">{{ _healthEvent.title }}</span>
    </div>
    <div class="flex items-center gap-3">
      <button class="my-icon-button danger" (click)="onClickDeleteHealthEvent(_healthEvent)">
        <span class="mat-icon">delete</span>
      </button>
      <button class="my-icon-button primary" (click)="onClickUpdateHealthEvent(_healthEvent)">
        <span class="mat-icon">edit</span>
      </button>
    </div>
  </div>
  <hr class="my-divider" />
  <span class="font-body-md italic select-text">{{ _healthEvent.description }}</span>
  <span class="font-subtitle-md">
    {{ 'healthEvents.form.painType' | translate }}:
    <span class="font-body-md">{{ `healthEvents.painType.${_healthEvent.painType}` | translate }}</span>
  </span>
  <span class="font-subtitle-md">
    {{ 'healthEvents.form.painLevel' | translate }}:
    <span class="font-body-md">{{ _healthEvent.painLevel }}</span>
  </span>
  <span class="font-subtitle-md">
    {{ 'healthEvents.form.from' | translate }}:
    <span class="font-body-md">{{ _healthEvent.from | date: 'short' }}</span>
  </span>
  <span class="font-subtitle-md">
    {{ 'healthEvents.form.to' | translate }}:
    <span class="font-body-md">{{ _healthEvent.to | date: 'short' }}</span>
  </span>
  <span class="font-subtitle-md">
    {{ 'healthEvents.form.drugs' | translate }}:
    @for (_healthEventDrug of _healthEvent.drugs; track $index) {
      <span class="font-body-md">{{ _healthEventDrug.drug }}</span>
      <span class="font-body-md">{{ _healthEventDrug.quantity }}</span>
    }
  </span>
</div>
