@let _chronology = chronology();
<div class="flex flex-col gap-1">
  @for (_year of _chronology.years; track _year.label; let yFirst = $first) {
    @if (_chronology.years.length > 1) {
      <span class="font-subtitle-sm ml-6 select-text" [class.mt-6]="!yFirst">
        {{ _year.label }}
      </span>
    }
    @for (_month of _year.months; track _month.label; let mFirst = $first) {
      @if (_year.months.length > 1) {
        <span class="font-subtitle-md ml-6 select-text" [class.mt-6]="!mFirst">
          {{ `healthEvents.chronology.months.${_month.label}` | translate }}
        </span>
      }
      @for (_day of _month.days; track _day.label; let dFirst = $first) {
        <div class="mb-2 ml-6 flex items-center gap-1" [class.mt-6]="!dFirst">
          <span class="mat-icon mat-icon-lg">calendar_today</span>
          <span class="font-subtitle-lg select-text">
            @if (_day.label === todayLabel()) {
              {{ 'healthEvents.today' | translate }},
            } @else if (_day.label === yesterdayLabel()) {
              {{ 'healthEvents.yesterday' | translate }},
            }
            {{ _day.label | date: 'EEEE d' : undefined : 'es' | titlecase }}
          </span>
        </div>
        <div class="page-layout-content-box">
          @for (_healthEvent of _day.healthEvents; track _healthEvent.id) {
            <app-health-event-card [healthEvent]="_healthEvent" />
          }
        </div>
      }
    }
  } @empty {
    <div class="flex min-h-41 flex-col items-center justify-center py-4 transition-all">
      @if (loading()) {
        <span class="mat-icon mat-icon-3xl text-my-secondary-default animate-spin">progress_activity</span>
      } @else {
        <span class="mat-icon mat-icon-5xl text-my-secondary-500 mb-4">calendar_today</span>
        <p class="font-body-lg text-my-secondary-500 mb-2 max-w-120 text-center">
          {{ 'healthEvents.noEvents' | translate }}
        </p>
        <p class="font-body-lg text-my-secondary-500 max-w-120 text-center">
          {{ 'healthEvents.everythingSeemsAlright' | translate }}
        </p>
      }
    </div>
  }
</div>
