@let _loading = loading();
@let _drug = drug();

<my-dialog>
  <my-dialog-header>
    <span class="mat-icon mat-icon-3xl text-my-primary-default">
      {{ _drug ? 'border_color' : 'pill' }}
    </span>
    {{ (_drug ? 'drugs.form.editDrug' : 'drugs.form.addDrug') | translate }}
  </my-dialog-header>

  <my-dialog-content>
    <form [formGroup]="formGroup" class="flex flex-col gap-4">
      <!-- Name -->
      <my-form-field>
        <label for="nameField" class="my-label">
          {{ 'drugs.form.name' | translate }}
        </label>
        <input
          id="nameField"
          type="text"
          [placeholder]="'drugs.form.name' | translate"
          formControlName="name"
          class="my-input"
        />
        <my-form-error key="required">
          {{ 'common.errors.required' | translate }}
        </my-form-error>
      </my-form-field>

      <!-- Description -->
      <my-form-field>
        <label for="descriptionField" class="my-label">
          {{ 'drugs.form.description' | translate }}
        </label>
        <input
          id="descriptionField"
          type="text"
          [placeholder]="'drugs.form.description' | translate"
          formControlName="description"
          class="my-input"
        />
      </my-form-field>

      <!-- Measure -->
      <div class="flex flex-col gap-1.5">
        <label
          for="measureField"
          class="my-label after:content-['_*']"
          [class.after:text-my-primary-default]="formGroup?.get('measure')?.valid"
          [class.after:text-red-700]="formGroup?.get('measure')?.invalid"
        >
          {{ 'drugs.form.measure' | translate }}
        </label>
        <div class="flex items-start gap-4">
          <my-form-field class="flex-1 overflow-hidden">
            <input
              id="measureField"
              type="number"
              [min]="1"
              [placeholder]="'drugs.form.measure' | translate"
              formControlName="measure"
              class="my-input"
            />
            <my-form-error key="required">
              {{ 'common.errors.required' | translate }}
            </my-form-error>
            <my-form-error key="min">
              {{ 'common.errors.min' | translate: { value: 1 } }}
            </my-form-error>
          </my-form-field>
          <my-form-field>
            <select id="measureTypeField" formControlName="measureType" class="my-select">
              @for (measure of measures(); track $index) {
                <option [value]="measure">{{ measure }}</option>
              }
            </select>
            <my-form-error key="required">
              {{ 'common.errors.required' | translate }}
            </my-form-error>
          </my-form-field>
        </div>
      </div>
    </form>
  </my-dialog-content>

  <my-dialog-footer>
    <button class="my-button secondary" [disabled]="_loading" (click)="onClickCancel()">
      {{ 'common.buttons.cancel' | translate }}
    </button>
    <button class="my-button primary" [disabled]="_loading" (click)="onClickSave()">
      @if (_loading) {
        {{ 'common.buttons.saving' | translate }}
      } @else {
        {{ 'common.buttons.save' | translate }}
      }
    </button>
  </my-dialog-footer>
</my-dialog>
