@let _loading = loading();
@let _healthEvent = healthEvent();
@let _type = formGroup.get('type')?.value;

<my-dialog>
  <my-dialog-header>
    <span class="mat-icon mat-icon-3xl text-my-primary-default">
      {{ _healthEvent ? 'border_color' : 'event' }}
    </span>
    <span class="truncate">
      {{ (_healthEvent ? 'healthEvents.form.editHealthEvent' : 'healthEvents.form.addHealthEvent') | translate }}
    </span>
  </my-dialog-header>

  <my-dialog-content>
    <form [formGroup]="formGroup" class="flex flex-col gap-4">
      <div class="flex items-center justify-center gap-2">
        <button
          class="my-button secondary h-8 max-h-8 min-h-8 gap-1 py-0 pr-3 pl-2"
          [disabled]="_loading"
          (click)="onClickQuickAction(1)"
        >
          <span class="mat-icon mat-icon-sm">bolt</span>
          <span class="font-subtitle-sm">Sibelium</span>
        </button>
        <button
          class="my-button secondary h-8 max-h-8 min-h-8 gap-1 py-0 pr-3 pl-2"
          [disabled]="_loading"
          (click)="onClickQuickAction(2)"
        >
          <span class="mat-icon mat-icon-sm">bolt</span>
          <span class="font-subtitle-sm">Maxalt Max</span>
        </button>
        <button
          class="my-button secondary h-8 max-h-8 min-h-8 gap-1 py-0 pr-3 pl-2"
          [disabled]="_loading"
          (click)="onClickQuickAction(3)"
        >
          <span class="mat-icon mat-icon-sm">bolt</span>
          <span class="font-subtitle-sm">Ibuprofeno</span>
        </button>
      </div>
      <!-- Type -->
      <my-form-field>
        <label for="typeField" class="my-label">
          {{ 'healthEvents.form.type' | translate }}
        </label>
        <select id="typeField" formControlName="type" class="my-select">
          @for (type of types(); track type) {
            <option [value]="type">
              {{ `healthEvents.type.${type}` | translate }}
            </option>
          }
        </select>
        <my-form-error key="required">
          {{ 'common.errors.required' | translate }}
        </my-form-error>
      </my-form-field>

      <!-- Description -->
      <my-form-field>
        <label for="descriptionField" class="my-label">
          {{ 'healthEvents.form.description' | translate }}
        </label>
        <input
          id="descriptionField"
          type="text"
          [placeholder]="'healthEvents.form.description' | translate"
          formControlName="description"
          class="my-input"
        />
      </my-form-field>

      @if (_type === healthEventTypeEnum.Pain) {
        <!-- Pain type and level -->
        <div class="flex flex-col gap-1.5">
          <label
            for="painLevelField"
            class="my-label after:content-['_*']"
            [class.after:text-my-primary-default]="formGroup?.get('painLevel')?.valid"
            [class.after:text-red-700]="formGroup?.get('painLevel')?.invalid"
          >
            {{ 'healthEvents.form.painLevel' | translate }}
          </label>
          <div class="flex flex-wrap items-start gap-x-3 gap-y-4">
            <my-form-field class="flex-1 overflow-hidden">
              <input
                id="painLevelField"
                type="number"
                [min]="1"
                [max]="5"
                [placeholder]="'healthEvents.form.painLevel' | translate"
                formControlName="painLevel"
                class="my-input"
              />
              <my-form-error key="required">
                {{ 'common.errors.required' | translate }}
              </my-form-error>
              <my-form-error key="min">
                {{ 'common.errors.min' | translate: { value: 1 } }}
              </my-form-error>
              <my-form-error key="max">
                {{ 'common.errors.max' | translate: { value: 5 } }}
              </my-form-error>
            </my-form-field>
            <my-form-field>
              <select id="painTypeField" formControlName="painType" class="my-select">
                @for (painType of painTypes(); track painType) {
                  <option [value]="painType">
                    {{ `healthEvents.painType.${painType}` | translate }}
                  </option>
                }
              </select>
              <my-form-error key="required">
                {{ 'common.errors.required' | translate }}
              </my-form-error>
            </my-form-field>
          </div>
        </div>

        <!-- Pain duration from -->
        <my-form-field class="flex-1 overflow-hidden">
          <label for="fromField" class="my-label">
            {{ 'healthEvents.form.from' | translate }}
          </label>
          <input
            id="fromField"
            type="datetime-local"
            [placeholder]="'healthEvents.form.from' | translate"
            formControlName="from"
            class="my-input"
          />
          <my-form-error key="required">
            {{ 'common.errors.required' | translate }}
          </my-form-error>
        </my-form-field>

        <!-- Pain duration to -->
        <my-form-field class="flex-1 overflow-hidden">
          <label for="toField" class="my-label">
            {{ 'healthEvents.form.to' | translate }}
          </label>
          <input
            id="toField"
            type="datetime-local"
            [placeholder]="'healthEvents.form.to' | translate"
            formControlName="to"
            class="my-input"
          />
          <my-form-error key="required">
            {{ 'common.errors.required' | translate }}
          </my-form-error>
        </my-form-field>
      } @else {
        @let _drugs = drugs();
        @if (_drugs?.length) {
          <div class="flex flex-col gap-1.5">
            <span class="my-label">
              {{ 'healthEvents.form.drugs' | translate }}
            </span>
            <div class="border-my-secondary-default flex flex-col gap-4 rounded-2xl border-2 p-4" formArrayName="drugs">
              @for (drugFormGroup of drugsFormArray.controls; track drugFormGroup; let _index = $index) {
                <form [formGroupName]="_index" class="flex flex-wrap gap-x-3 gap-y-4">
                  <my-form-field class="min-w-30 flex-1">
                    <label [for]="`drugField-${_index}`" class="my-label min-w-30 truncate">
                      {{ 'healthEvents.form.drug' | translate }}
                    </label>
                    <select [id]="`drugField-${_index}`" formControlName="drug" class="my-select w-auto min-w-30">
                      @for (_drug of _drugs; track _drug.id) {
                        <option [value]="_drug.id">
                          {{ _drug.name | translate }}
                        </option>
                      }
                    </select>
                    <my-form-error key="required">
                      {{ 'common.errors.required' | translate }}
                    </my-form-error>
                  </my-form-field>
                  <my-form-field class="w-21.5 max-w-21.5 min-w-21.5 basis-25">
                    <label [for]="`quantityField-${_index}`" class="my-label w-21.5 max-w-21.5 min-w-21.5 truncate">
                      {{ 'healthEvents.form.quantity' | translate }}
                    </label>
                    <input
                      [id]="`quantityField-${_index}`"
                      type="number"
                      [min]="0"
                      [placeholder]="'healthEvents.form.quantity' | translate"
                      formControlName="quantity"
                      class="my-input w-21.5 max-w-21.5 min-w-21.5"
                    />
                    <my-form-error key="required">
                      {{ 'common.errors.required' | translate }}
                    </my-form-error>
                    <my-form-error key="min">
                      {{ 'common.errors.min' | translate: { value: 0 } }}
                    </my-form-error>
                  </my-form-field>
                  <button
                    type="button"
                    class="my-icon-button danger mt-8.5 h-8 max-h-8 min-h-8 w-8 max-w-8 min-w-8"
                    [disabled]="_loading"
                    (click)="onClickRemoveDrug(_index)"
                  >
                    <span class="mat-icon mat-icon-2xl">delete</span>
                  </button>
                </form>
              } @empty {
                <div class="bg-my-secondary-100 flex items-center justify-center rounded-lg px-4 py-8">
                  <span class="font-body-md text-my-secondary-default text-center select-none">
                    {{ 'healthEvents.form.noDrugsHaveBeenAddedYet' | translate }}
                  </span>
                </div>
              }
              <div class="flex justify-end select-none">
                <button type="button" class="my-button text px-0" [disabled]="_loading" (click)="onClickAddNewDrug()">
                  <span class="mat-icon">add</span>
                  @if (drugsFormArray.length) {
                    {{ 'healthEvents.form.addAnotherDrug' | translate }}
                  } @else {
                    {{ 'healthEvents.form.addDrug' | translate }}
                  }
                </button>
              </div>
            </div>
          </div>
        }

        <!-- Drug date -->
        <my-form-field class="flex-1 overflow-hidden">
          <label for="dateField" class="my-label">
            {{ 'healthEvents.form.date' | translate }}
          </label>
          <input
            id="dateField"
            type="datetime-local"
            [placeholder]="'healthEvents.form.date' | translate"
            formControlName="date"
            class="my-input"
          />
          <my-form-error key="required">
            {{ 'common.errors.required' | translate }}
          </my-form-error>
        </my-form-field>
      }
    </form>
  </my-dialog-content>

  <my-dialog-footer>
    <button type="button" class="my-button secondary" [disabled]="_loading" (click)="onClickCancel()">
      {{ 'common.buttons.cancel' | translate }}
    </button>
    <button type="button" class="my-button primary" [disabled]="_loading" (click)="onClickSave()">
      @if (_loading) {
        {{ 'common.buttons.saving' | translate }}
      } @else {
        {{ 'common.buttons.save' | translate }}
      }
    </button>
  </my-dialog-footer>
</my-dialog>
