@let _loading = loading();
@let _healthEvent = healthEvent();

<my-dialog>
  <my-dialog-header>
    <span class="mat-icon mat-icon-3xl text-my-primary-default">
      {{ _healthEvent ? 'border_color' : 'event' }}
    </span>
    {{ (_healthEvent ? 'healthEvents.form.editHealthEvent' : 'healthEvents.form.addHealthEvent') | translate }}
  </my-dialog-header>

  <my-dialog-content>
    <form [formGroup]="formGroup" class="flex flex-col gap-4">
      <!-- Title -->
      <my-form-field>
        <label for="titleField" class="my-label">
          {{ 'healthEvents.form.title' | translate }}
        </label>
        <input
          id="titleField"
          type="text"
          [placeholder]="'healthEvents.form.title' | translate"
          formControlName="title"
          class="my-input"
        />
        <my-form-error key="required">
          {{ 'common.errors.required' | translate }}
        </my-form-error>
      </my-form-field>

      <!-- Description -->
      <my-form-field>
        <label for="descriptionField" class="my-label">
          {{ 'healthEvents.form.description' | translate }}
        </label>
        <input
          id="descriptionField"
          type="text"
          [placeholder]="'healthEvents.form.description' | translate"
          formControlName="description"
          class="my-input"
        />
      </my-form-field>

      <!-- Pain type and level -->
      <div class="flex flex-col gap-1.5">
        <label
          for="painLevelField"
          class="my-label after:content-['_*']"
          [class.after:text-my-primary-default]="formGroup?.get('painLevel')?.valid"
          [class.after:text-red-700]="formGroup?.get('painLevel')?.invalid"
        >
          {{ 'healthEvents.form.painLevel' | translate }}
        </label>
        <div class="flex items-start gap-4">
          <my-form-field class="flex-1 overflow-hidden">
            <input
              id="painLevelField"
              type="number"
              [min]="0"
              [max]="10"
              [placeholder]="'healthEvents.form.painLevel' | translate"
              formControlName="painLevel"
              class="my-input"
            />
            <my-form-error key="required">
              {{ 'common.errors.required' | translate }}
            </my-form-error>
            <my-form-error key="min">
              {{ 'common.errors.min' | translate: { value: 0 } }}
            </my-form-error>
            <my-form-error key="max">
              {{ 'common.errors.max' | translate: { value: 10 } }}
            </my-form-error>
          </my-form-field>
          <my-form-field>
            <select id="painTypeField" formControlName="painType" class="my-select">
              @for (painType of painTypes(); track $index) {
                <option [value]="painType">
                  {{ `healthEvents.painType.${painType}` | translate }}
                </option>
              }
            </select>
            <my-form-error key="required">
              {{ 'common.errors.required' | translate }}
            </my-form-error>
          </my-form-field>
        </div>
      </div>
    </form>
  </my-dialog-content>

  <my-dialog-footer>
    <button class="my-button secondary" [disabled]="_loading" (click)="onClickCancel()">
      {{ 'common.buttons.cancel' | translate }}
    </button>
    <button class="my-button primary" [disabled]="_loading" (click)="onClickSave()">
      @if (_loading) {
        {{ 'common.buttons.saving' | translate }}
      } @else {
        {{ 'common.buttons.save' | translate }}
      }
    </button>
  </my-dialog-footer>
</my-dialog>
