<nav
  class="bg-my-secondary-500/50 pointer-events-auto flex flex-row gap-2 overflow-hidden rounded-full p-2 backdrop-blur-xs"
>
  <button class="my-navbar-button" [routerLinkActive]="'my-navbar-button-active'" [routerLink]="['/home']">
    <span class="mat-icon mat-icon-xl">home</span>
    <span class="my-navbar-button-label">{{ 'home.title' | translate }}</span>
  </button>
  <button class="my-navbar-button" [routerLinkActive]="'my-navbar-button-active'" [routerLink]="['/health-events']">
    <span class="mat-icon mat-icon-xl">event</span>
    <span class="my-navbar-button-label">{{ 'healthEvents.title' | translate }}</span>
  </button>
  <button class="my-navbar-button" [routerLinkActive]="'my-navbar-button-active'" [routerLink]="['/drugs']">
    <span class="mat-icon mat-icon-xl">pill</span>
    <span class="my-navbar-button-label">{{ 'drugs.title' | translate }}</span>
  </button>
  <!--  <button class="my-navbar-button" (click)="onClickSignOut()">-->
  <!--    <span class="mat-icon mat-icon-3xl">logout</span>-->
  <!--    <span class="truncate">{{ 'auth.signOut' | translate }}</span>-->
  <!--  </button>-->
</nav>
<button
  class="my-button primary pointer-events-auto h-14 min-h-14 w-14 min-w-14 justify-center rounded-full p-2"
  (click)="onClickAddHealthEvent()"
>
  <span class="mat-icon mat-icon-3xl">calendar_add_on</span>
</button>
